
.gallery .duration {
    position: absolute;
    background: rgba(0, 0, 0, 0.6)!important;
    padding: 3px;
    color: #FFF;
    top: 5px;
    left: 25px;
    font-size: 0.9em;
    border-radius: 5px;
}
.gallery h2,
.videosDetails .title {
    font-size: 1em;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px; /* fallback */
    max-height: 32px; /* fallback */
    min-height: 32px; /* fallback */
    -webkit-line-clamp: 2; /* number of lines to show */

    -webkit-box-orient: vertical;
}
.gallery .watch-view-count {
    font-size: 0.8em;
    font-weight: normal;
    border: 0;
    margin: 0;
    padding: 0;
}
.galleryVideo .group {
    overflow: hidden;
    text-overflow: ellipsis;
}

.mainArea{
    padding: 15px;
}

h3.galleryTitle{
    padding: 15px 5px;
}

.aspectRatio16_9 {
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.aspectRatio16_9 img{
    text-indent:-9999px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.thumbsGIF{
    text-indent:-9999px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.firstRow{
    margin-bottom: 10px;
    padding-bottom: 25px;
    border-bottom: solid 1px #EEE;
}

.galeryDetails div{
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 5px;
    font-size: 0.7em;
}

.firstRow .galeryDetails div{
    font-size: 1em;
}

.galeryDetails div.userName{
    width: 100%;
}
.fixPadding{
    padding: 0 5px;
}

.popover-content, .popover-content>div{
    white-space: normal !important;
    width: auto;
    color: inherit !important;
}
.popover-content>div{
    overflow-y: auto;
    height: 140px;
}

.mainAreaDescription{
    position:relative;
    height:100%;
    width: 110%;
    padding-right: 10%;
    overflow-x:hidden;
    overflow-y:scroll; 
    max-height: 17vw;
}
.mainAreaDescriptionContainer{
    position: relative;
    overflow: hidden;
}
a.h6{
    text-decoration: none !important;
}

.popover-title { 
    color: black;
    font-size: 1em;
} 

.popover-content{
    color: black !important; 
    font-size: 0.8em;
}

.gallery .label{
    border-radius: 0;
}
.gallery .label:first-child{
    border-top-left-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
}
.gallery .label:last-child{
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
}

.galleryTitle a.btn-default:hover{
    background-color: transparent;
}

.galeryRowElement .galleryVideo {
    margin-bottom: 10px; 
}

.galleryVideoButtons{
    position: absolute; 
    right: 5px; 
    top: 5px; 
    z-index: 9999;
    display: none;
}
.galleryVideo  .galleryVideoButtons button{
    opacity: 0.5;
} 
.galleryVideo:hover  .galleryVideoButtons{
    display: block !important;
} 
.galleryVideo  .galleryVideoButtons  button:hover{
    opacity: 1;
} 

.gallerySerieOverlay{
    position: absolute; 
    left: 0; 
    top: 0; 
    z-index: 1020;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    color: rgba(0,0,0,0);
    -webkit-box-align:center;
    -webkit-box-pack:center;
    display:-webkit-box;
    font-weight: bold;
}
.gallerySerieOverlay:hover{
    background-color: rgba(0,0,0,0.5);
    color: #FFF;
}
.gallerySerieOverlayTotal{
    position: absolute; 
    right: 0; 
    top: 0; 
    width: 25%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    color: #FFF;
    -webkit-box-align:center;
    -webkit-box-pack:center;
    display:-webkit-box;
    font-weight: bold;
}
.galleryTags .label{
   display: table-cell;
   font-size: 0.9em;
}
.galleryTags{
   margin: 1px;
}